/* ----------- CSS ----------- */
.letters-container span:nth-child(1n) {
    animation: letters-left 1.5s infinite linear;
  }
  .letters-container span:nth-child(2n) {
    animation: letters-right 1.5s infinite linear;
  }
  
  .letters-container span {
    display: inline-flex;
    justify-content: center;
    letter-spacing: -6px;
  }
  
  .letters-container .spacer {
    margin: 0 3px;
  } 
  
  /* ---------- Animation ---------- */
  @keyframes letters-left {
      0%, 100% {
       transform: rotate(0deg);
      }
      25% {
       transform: rotate(10deg);
      }
      75% {
        transform: rotate(-10deg);
      }
  }
  
  @keyframes letters-right {
      0%, 100% {
       transform: rotate(0deg);
      }
      25% {
       transform: rotate(-10deg);
      }
      75% {
        transform: rotate(10deg);
      }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* --------------------- Useless --------------------- */
  /* Don't copy/paste this. It's just cosmetic. */
  
  body {
    background: linear-gradient(to top, #253c50, #4f789b);
    height: 100vh;
  }
  
  .main {
    width: 50%;
    box-shadow: 0 0 12px 0px black;
    margin: 70px auto;
    border-radius: 8px;
  }
  
  .letters-container {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px 8px 0 0;
    font-family: "Tw Cen MT";
  }
  
  .letters-container h1  {
    font-size: 70px;
    letter-spacing: -6px;
    margin: 0;
    padding: 20px;
  }
  .letters-container p span {
    color: red;
  }
  
  .white {
    background-color: rgba(255, 255, 255, 0.5);
    min-height: 200px;
    padding: 20px;
    font-size: 20px;
    font-family: "Verdana";
    font-weight: 200;
    border-radius: 0 0 8px 8px;
  }
  